     <div class="container row">
         <div class="col-12">
        
            <h1 style="color: rgb(0, 0, 0);">Colecciones de viajes</h1>

            <form action="link api" method="post" target="_blank">
            <div class="form-group input-group">
                <input type="text" id="search_location" class="form-control" placeholder="Search location" autocomplete="on" runat="server">
                <div class="input-group-btn">
                    <button class="btn btn-default get_map" type="submit">
                        Locate
                    </button>
                </div>
                
            </div>
            </form>
               <p>Bonton +</p>
            <p>Lista de viajes:</p>
        </div>
       

   </div>