     <div class="container row">
         <div class="col-12">
        
            <h1 style="color: rgb(0, 0, 0);">Colecciones de viajes</h1>

            <form action="/place/collections" method="POST">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Search location"  name="description">
    

              
                    <button class="btn btn-default get_map" type="submit" >
                      <a href="/place/marker">Añadir Viaje</a>  
                    </button>
                
                
            </div>
            </form>
             
            <p>Lista de viajes:</p>
            <ul>
              {{#each allPlaces}}
              <li value="{{id}}">{{destination}}</li>
              {{/each}}
            </ul>
        </div>
       

   </div>